<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="ucontrol.ucontrolstudio">

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity android:name=".MainActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".activity_illumination"
            android:label="Ilumination"
            android:theme="@style/AppThemeIllumination"/>
        <activity
            android:name=".activity_alarms"
            android:label="Alarms"
            android:theme="@style/AppThemeAlarms"/>
        <activity
            android:name=".activity_blinds"
            android:label="Blinds"
            android:theme="@style/AppThemeBlinds"/>
        <activity
            android:name=".activity_air_conditioner"
            android:label="Air Conditioner"
            android:theme="@style/AppThemeAc"/>
        <activity
            android:name=".activity_ac_schedule"
            android:label="Schedule"
            android:theme="@style/AppThemeAc"/>
        <activity
            android:name=".activity_television"
            android:label="Televison"
            android:theme="@style/AppThemeTv"/>
        <activity
            android:name=".activity_tv_recordings"
            android:label="Recordings"
            android:theme="@style/AppThemeTv"/>
        <activity
            android:name=".activity_audio"
            android:label="Audio"
            android:theme="@style/AppThemeAudio"></activity>
        <activity
            android:name=".activity_doors"
            android:label="Doors"
            android:theme="@style/AppThemeDoors"/>
        <activity
            android:name=".activity_manage"
            android:label="Manage"
            android:theme="@style/AppThemeAc"/>
        <activity
            android:name=".activity_madd"
            android:label="Add"
            android:theme="@style/AppTheme"/>
        <activity
            android:name=".activity_mremove"
            android:label="Remove"
            android:theme="@style/AppTheme"></activity>

    </application>

</manifest>